apiVersion: v1
kind: Service
metadata:
  name: todo-frontend-service
spec:
  type: ClusterIP 
  selector:
    app: todo-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80 # Vite's default port (change to 80 if your Dockerfile uses Nginx)

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
      - name: todo-frontend
        # REPLACE THIS WITH YOUR ACTUAL DOCKER HUB USERNAME
        image: ashishak117/enterprise-todo-frontend:latest
        ports:
        - containerPort: 5173