apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
stringData:
  # In a real job, we use External Secrets (Vault/AWS), 
  # but for now, this is safer than plain text in deployment.
  ROOT_PASSWORD: "rootpassword"
  USER_PASSWORD: "password"